html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

section {
  padding-top: 6rem;
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #85e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #85f; 
}