html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  height: 100vh;
}

.container {
  width: 90rem;
  margin: 0 auto;
}
